* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: url(./assets/mazeletter-utopia.svg);
}
.pageTitle{
  font-weight: 1000;
  margin: 20px, 0px;
}
.content {
  display: flex;
  flex-direction: column;
}
.tileContent{
  padding-top:20px;
}
.postTitle {
  font-size: medium;
}